@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Faustina:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-primeui";

@theme {
  --font-caveat: "Caveat", "sans-serif";
  --font-faustina: "Faustina", "sans-serif";
  --color-eerie: #172121;
  --color-alice: #e8f0ff;
  --color-baseRed: #702632;
}
